<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       body{
            margin: 0;
            padding: 0;
            font-size: 14px;
        }
        .container{
            font-family: Arial, Helvetica, sans-serif; 
        }
        #content{
            width: 25rem;
            color: black;
        }
        img{
            display: block;
        }
        span{
            margin: 1rem 0px;
            display: block;
        }
        p{
            text-align: justify;
            line-height: 1.6;
        }

        @media (max-width: 576px) {
            #content{
            width: 20rem;
            }
        }

    </style>
</head>
<body>
    <div class="container">
        <span class="align-image">
            <img src="https://i.imgur.com/4UOQkue.jpeg" alt="logo ocular-laser">
        </span>

        <div id="content">
            <span>
                <p>
                    Prezado(a) {{name}}, Gostaria de informar que recebemos o pagamento do cliente {{serviceExecuted.name}} referente à cirurgia agendada. Abaixo estão os detalhes:
                </p>
            </span>

            <span>- Valor Pago: {{serviceExecuted.price}}</span>
            {{!-- <span>- Data da Cirurgia: {{serviceExecuted.datePayment}}</span>
            <span>- Horário da Cirurgia: {{serviceExecuted.hours}}</span> --}}
        </div>
    </div>
</body>
</html>