<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .container{
        font-family: Arial, Helvetica, sans-serif; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content{
        width: 400px
    }
    img{
        display: block;
    }
    span{
        margin: 10px 0px;
        display: block;
    }
    p{
        text-align: justify;
        line-height: 1.6;
    }

    a{
        background-color: #1978b9;
        padding: 13px;
        border-radius: 8px;
        text-decoration: none;
        color: #ffff;
        font-weight: bold;
        margin: 1rem 0px;
        display: block;
        width: 7rem;
        text-align: center;

    }
    a:hover{
        background-color: #1e88e5;
    }

    </style>
</head>
<body>
    <div class="container">
        <span class="align-image">
            <img src="https://i.imgur.com/4UOQkue.jpeg" alt="logo ocular-laser">
        </span>

        <div class="content">
            <span>Olá {{name}},</span>

            <span>Gostaríamos de informar {{serviceExecuted.serviceMessage}} abaixo foi executado com sucesso na clínica:</span>

            <span>Nome do Paciente: {{name}}</span>
            <span>E-mail: {{email}}</span>
            <span>Serviço: {{serviceExecuted.service}}</span>
            <span>Clínica: {{serviceExecuted.clinic}}</span>
            <span>Data: {{serviceExecuted.date}}</span>
            <span>Data de Pagamento: {{serviceExecuted.dataPayment}}</span>
            <span>Preço: {{serviceExecuted.price}}</span>
            <span>Link da Fatura: {{link}}</span>

            <span>Atenciosamente,</span>
            <span>{{serviceExecuted.clinic}}</span>
        </div>
    </div>
</body>
</html>